.header {
    @include paddingPercent(1920 ,20, 0 , 11 , 0 );
    background: #FFF;
    @include media($sp) {
        height: 21.203546666666668vw;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.logoHeader {
    width: 12.5%;
    margin: auto;
    @include media($sp) {
        @include ontener_width(750 , 122.7568);
    }
}