.statSweets {
    @include paddingPercent(1920 , 95 , 0 , 95 , 0 );
    @include media($sp) {
        @include paddingPercent(750 , 91, 0 , 85 , 0 );
    }
}
.bgStatSweets {
    background: url(../img/bgStatSweetsPc.webp) no-repeat center center;
    background-size: auto 358px;
    @include media($sp) {
        background: none;
    }
}
.txtStatSweets {
    @include ontener_width(1000 , 693.54);
    margin: auto;
    @include media($sp) {
        @include ontener_width(750 , 549.7617);
    }
}