.lutaoOnlineShop{
    background: url(../img/bglutaoOnlineShopPc.webp)no-repeat center top;
    background-size: auto 100%;
}
.lutaoOnlineShopWap{
    @include marginPercent(1000 , 78 , auto , 0 , auto);
    @include media($sp){
        margin: 11% auto 0 auto;
    }
}
.btmLutaoOnlineShop{
    display: block;
}
.btmAlertWap{
    @include paddingPercent(1000 , 38 , 0 , 34 , 0);
    @include media($sp){
        @include paddingPercent(750 , 35 , 0 , 35 , 0);
    }
}
.txtBtmAlert{
    width: 65.3%;
    margin: 0 0 0 0.5%;
        @include media($sp){
            width: 88.5%;
            margin: 0 0 0 5%;
    }
}
